.Fruit
{
    width: 30rem;
    height: 8rem;
    // border: 2px solid red;

    .buttonWrapper
    {
        width: 20rem;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        // border: 2px solid blue;

        &__deleteBtn,
        &__changeColorBtn
        {
            font-size: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 8rem;
            border:none;
            border-radius: 20px;
        }

        &__deleteBtn
        {
            background-color: red;
        }
        &__changeColorBtn
        {
            background-color: green;
        }
    }
}